<!DOCTYPE html>
<html>

<%- include('../partials/header') %>

<h1 style="margin: 10px;">Ops... Algo deu errado</h1> 
    
<% if (erro) {%>
        <p style="margin: 10px;"><%= erro %></p>
<% } %>

</div>
<a href="/" class="btn btn-info">Voltar</a>
</html>