<!DOCTYPE html>
<html>

<%- include('partials/header') %>

<body>

    <body class="extern-body">
  <div class="d-flex justify-content-center">

    <div class="container">

      <h1>
            Redefinição de senha
      </h1>
      
      <% if (erro) { %>
        <br>
        <p style="color: red;"><%= erro %></p>
      <% }%>

      <hr>

      <form action="/mudar-senha" method="POST">

        <p>Por favor, digite sua senha antiga para redefinir a sua senha.</p>

        <div class="form-group">
          <label for="senhaAtual">Senha atual</label>
          <input  type="password" class="form-control" name="senhaAtual" id="senhaAtual" placeholder="Sua senha atual">
        </div>  
        
        <div class="form-group">
          <label for="novaSenha">Nova senha</label>
          <input  type="password" class="form-control" name="novaSenha" id="novaSenha" placeholder="Sua nova senha">
        </div>    

        <button type="submit" class="btn btn-info">Enviar</button>
        <a href="/" class="btn btn-danger">Voltar</a>
      </form>



    </div>
  </div>

</body>

</html>